/vendor
/node_modules
/public/storage
/.idea
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.vscode/

/storage/

!/themes
/themes/*
!/themes/xblog

!/public
/public/*
!/public/*.*
!/public/css/
!/public/js/
!/public/build/

