@import "common";

.main-header {
  text-align: center;
  background-color: $colorPrimary;
  background-size: 100% auto;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  box-shadow: 1px 1px 1px $shadowColor;
  -moz-box-shadow: 1px 1px 1px $shadowColor;
  -webkit-box-shadow: 1px 1px 1px $shadowColor;
}

.main-header h2 {
  font-size: 2.9em;
  color: white;
  text-shadow: 5px 5px 5px $colorPrimaryDark;
}

.main-header p {
  font-size: 1.25em;
  color: white;
}

a:active, a:focus, a img {
  outline: none;
}

.main-header .navbar-toggler {
  border: 1px solid $colorPrimaryDark;
}

.main-header .navbar-toggler:focus, .main-header .navbar-toggler:hover {
  background-color: $colorPrimaryDark;
}

.main-header form input[type="text"] {
  border: 1px solid $colorPrimaryDark;
  color: white;
  background: transparent;
  vertical-align: middle;
}

.navbar-nav > li > a {
  margin: 8px 10px;
  padding: 8px 20px !important;
  border: $colorPrimaryDark solid 1px !important;
  border-radius: 50px;
  background: $colorPrimaryDarkTransparent !important;
  color: white !important;
  font-size: 1em;
  line-height: 1.1em;
  text-shadow: $shadowColor 1px 1px 2px;
  @extend .transition;
}

.navbar-nav > li > a:hover {
  color: $colorAccent !important;
  border: $colorAccent solid 1px !important;
  background: $colorPrimaryDark;
  @extend .transition;
}

.main-header .navbar-brand {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  font-size: 1.9em;
  color: white;
  text-shadow: 5px 5px 5px $colorPrimaryDark;
  @extend .transition;
}

#blog-navbar-brand:hover {
  color: $colorAccent;
  text-shadow: 5px 5px 5px $colorPrimaryDark;
  @extend .transition;
}

header .description {
  font-family: 'Pacifico', cursive;
  font-size: 1.4em;
  text-shadow: 5px 5px 5px $colorPrimaryDark;
}
